## تهيئة بسيطة

سنستخدم هذا القسم لضبط بيئة العمل واستيراد المكتبات التي تظهر في أمثلة الفصل عند الحاجة.

In [1]:
# إعدادات عامة
import pandas as pd
import numpy as np

## 1) التعليقات وأمر الطباعة print()

يبين المثال كيف نستخدم التعليقات لتوضيح الغرض من السطر دون التأثير على التنفيذ، ثم نستخدم print لطباعة رسالة.

In [2]:
# هذا تعليق يشرح الكود
print("مرحباً بك في عالم تحليلات الموارد البشرية")  # هذا أيضاً تعليق

مرحباً بك في عالم تحليلات الموارد البشرية

## 2) المسافات البادئة Indentation مع if

المسافات البادئة هي التي تحدد كتلة الكود التابعة للشرط.

In [3]:
# مثال على استخدام المسافات البادئة
employee_age = 25
if employee_age >= 18:
    print("الموظف بالغ")
    print("يمكنه العمل")

الموظف بالغ
يمكنه العمل

## 3) النقطتان الرأسيتان Colon مع if

تنتهي عبارات التحكم (مثل if وfor وwhile وdef) بنقطتين لتعلن بداية كتلة جديدة.

In [4]:
employee_department = "HR"
if employee_department == "HR":
    print("موظف الموارد البشرية")

موظف الموارد البشرية

## 4) المعرفات Identifiers

أمثلة سريعة لمعرفة أسماء متغيرات صحيحة، وأخرى غير صحيحة (ستؤدي لأخطاء إذا نُفذت كما هي).

In [5]:
# أمثلة على معرفات صحيحة
employee_name = "أحمد"
employee_age = 30
_department = "IT"

# أمثلة على معرفات خاطئة (لا تنفذها)
# 1employee = "سارة"        # لا يمكن البدء برقم
# employee-name = "خطأ"     # لا يمكن استخدام الشرطة -

## 5) المتغيرات وأنواع البيانات الأساسية

أمثلة على النصوص Strings، والأعداد الصحيحة Integers، والعشرية Floats، والقيم المنطقية Booleans، مع التحقق من النوع باستخدام type().

In [6]:
# نصوص (Strings)
employee_name = "سارة أحمد"
job_title = "مطور برمجيات"
home_city = "الرياض"
home_state = "المنطقة الوسطى"
print(type(employee_name))

# أعداد صحيحة (Integers)
employee_age = 28
years_experience = 5
postal_code = 12345
employee_id_number = 1001
print(type(employee_age))

# أعداد عشرية (Floats)
monthly_salary = 8500.75
performance_rating = 4.2
bonus_percentage = 15.5
overtime_hours = 8.25
print(type(monthly_salary))

# قيم منطقية (Booleans)
is_employee_active = True
has_completed_training = False
print(type(is_employee_active))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

## 6) تمثيل سجل موظف بأنواع بيانات مختلفة وطباعة الحقول

هذا المثال يوضح كيف تتجاور الأنواع المختلفة داخل سجل واحد.

In [7]:
employee_id = "EMP001"          # نص
employee_name = "محمد عبدالله"      # نص
job_title = "محلل بيانات"           # نص
age = 29                            # رقم صحيح
home_city = "جدة"                   # نص
home_state = "المنطقة الغربية"      # نص
home_postal_code = 21589            # رقم صحيح

print("معرف الموظف:", employee_id)
print("اسم الموظف:", employee_name)
print("المنصب:", job_title)
print("العمر:", age)
print("المدينة:", home_city)
print("المنطقة:", home_state)
print("الرمز البريدي:", home_postal_code)

معرف الموظف: EMP001
اسم الموظف: محمد عبدالله
المنصب: محلل بيانات
العمر: 29
المدينة: جدة
المنطقة: المنطقة الغربية
الرمز البريدي: 21589

## 7) التحويل بين أنواع البيانات Type Casting

أمثلة على int وstr وfloat.

In [8]:
# تحويل النص إلى رقم صحيح
age_as_string = "32"
age_as_integer = int(age_as_string)
print("العمر كرقم:", age_as_integer)

# تحويل الرقم إلى نص
salary = 85000
salary_as_string = str(salary)
print("الراتب كنص:", salary_as_string)

# تحويل النص العشري إلى float
bonus = "1500.50"
bonus_as_float = float(bonus)
print("المكافأة كرقم عشري:", bonus_as_float)

العمر كرقم: 32
الراتب كنص: 85000
المكافأة كرقم عشري: 1500.5

## 8) التعامل مع البيانات المفقودة None

نستخدم None للدلالة على غياب قيمة، ثم نتحقق باستخدام is None.

In [9]:
employee_middle_name = None   # اسم الأب غير متوفر
department = None               # القسم غير محدد بعد

if employee_middle_name is None:
    print("اسم الأب غير متوفر")
else:
    print("اسم الأب:", employee_middle_name)

اسم الأب غير متوفر

## 9) العمليات الحسابية الأساسية Arithmetic Operations

جمع، طرح، ضرب، قسمة.

In [10]:
# حساب الراتب الإجمالي
basic_salary = 5000
bonus = 1000
total_salary = basic_salary + bonus
print("الراتب الإجمالي:", total_salary)

# حساب صافي الراتب بعد خصم
deduction = 200
net_salary = total_salary - deduction
print("صافي الراتب:", net_salary)

# العلاوة السنوية 10%
annual_raise_rate = 0.10
annual_raise = basic_salary * annual_raise_rate
print("العلاوة السنوية:", annual_raise)

# متوسط الراتب الشهري للسنة
yearly_salary = total_salary * 12
monthly_average = yearly_salary / 12
print("متوسط الراتب الشهري:", monthly_average)

الراتب الإجمالي: 6000
صافي الراتب: 5800
العلاوة السنوية: 500.0
متوسط الراتب الشهري: 6000.0

## 10) الأسس وباقي القسمة ** و %

مثال يُظهر كيف يمكن ربطه بمنطق المكافآت مع سنوات الخبرة.

In [11]:
years = 3
base_bonus = 1000

remainder = years % 2               # باقي قسمة سنوات الخبرة على 2
bonus_value = (1.10 ** years) * base_bonus

print("سنوات الخبرة:", years)
print("الباقي عند القسمة على 2:", remainder)
print("قيمة المكافأة الأسّية:", f"{bonus_value:.2f}")

سنوات الخبرة: 3
الباقي عند القسمة على 2: 1
قيمة المكافأة الأسّية: 1331.00

## 11) العمليات المنطقية Logical Operations (and / or / not)

أمثلة على أهلية الترقية والحاجة للتدريب.

In [12]:
years_experience = 5
performance_rating = 4.2

experience_eligible = years_experience >= 3
excellent_performance = performance_rating > 4.0

promotion_eligible = experience_eligible and excellent_performance
print("مؤهل للترقية:", promotion_eligible)

needs_training = (years_experience < 2) or (performance_rating < 3.0)
print("يحتاج تدريب:", needs_training)

not_new_employee = not (years_experience < 1)
print("ليس موظفاً جديداً:", not_new_employee)

مؤهل للترقية: True
يحتاج تدريب: False
ليس موظفاً جديداً: True

## 12) عمليات المقارنة Comparison Operations

مقارنة رواتب موظفين.

In [13]:
employee_a_salary = 6000
employee_b_salary = 5500

salary_equal = employee_a_salary == employee_b_salary
print("الرواتب متساوية:", salary_equal)

salary_not_equal = employee_a_salary != employee_b_salary
print("الرواتب غير متساوية:", salary_not_equal)

a_higher = employee_a_salary > employee_b_salary
print("راتب الموظف أ أعلى:", a_higher)

a_lower_equal = employee_a_salary <= employee_b_salary
print("راتب الموظف أ أقل أو يساوي:", a_lower_equal)

الرواتب متساوية: False
الرواتب غير متساوية: True
راتب الموظف أ أعلى: True
راتب الموظف أ أقل أو يساوي: False

## 13) تعبير مركب لمؤشر أداء Composite Performance Index

حساب نقاط أداء مركبة ثم تصنيف مبسط.

In [14]:
base_performance = 3.5
attendance_score = 0.9
project_completion_rate = 0.85

total_performance_score = (base_performance * 0.5) + (attendance_score * 25) + (project_completion_rate * 25)
print("نقاط الأداء الإجمالية:", total_performance_score)

high_performer = (total_performance_score >= 40) and (attendance_score >= 0.85)
average_performer = (total_performance_score >= 30) and (total_performance_score < 40)
needs_improvement = total_performance_score < 30

print("أداء متميز:", high_performer)
print("أداء متوسط:", average_performer)
print("يحتاج تحسين:", needs_improvement)

نقاط الأداء الإجمالية: 45.5
أداء متميز: True
أداء متوسط: False
يحتاج تحسين: False

## 14) تطبيق على بيانات HR: نسب الذكور والإناث (pandas)

إذا كان ملف CSV غير متاح، سننشئ بيانات تجريبية لتشغيل المثال.

In [17]:
data = pd.read_csv('E3 HR Data Consolidating_Employee Info.csv')


gender_counts = data["Gender"].value_counts()
gender_percentages = (gender_counts / len(data)) * 100

print("Total number of records:", len(data))
print(round(gender_percentages, 2).astype(str) + "%")

Total number of records: 99
Gender
F    62.63%
M    37.37%
Name: count, dtype: object

## 15) أولويات العمليات Operator Precedence

أمثلة متسلسلة كما وردت في الفصل.

In [18]:
salary = (3000 + 500) * 12
print(salary)

performance_score = 2 + 3 ** 2
print(performance_score)

penalty = -3 ** 2
print(penalty)

monthly_overtime = 10 + 5 * 20
print(monthly_overtime)

leave_balance = 30 - 5 + 2
print(leave_balance)

eligible = 5 + 3 > 7
print(eligible)

promotion_eligible = True or False and False
print(promotion_eligible)

42000
11
-9
110
27
True
True

## 16) مثال المكافآت وأهمية الأقواس

يوضح كيف يمكن أن يغيّر وضع الأقواس معنى الحساب.

In [19]:
base_salary = 5000
performance_bonus_rate = 0.15
attendance_bonus = 500

# بدون أقواس
wrong_calculation = base_salary + performance_bonus_rate * attendance_bonus
print("حساب (بدون أقواس):", wrong_calculation)

# مع أقواس (هنا النتيجة قد تتطابق لأن الضرب أعلى أولوية أصلاً)
correct_calculation = base_salary + (performance_bonus_rate * attendance_bonus)
print("حساب (مع أقواس):", correct_calculation)

# حساب مختلف فعلاً بسبب تغيير موضع الأقواس
complex_bonus = (base_salary * performance_bonus_rate) + attendance_bonus
print("مكافأة مركبة:", complex_bonus)

حساب (بدون أقواس): 5075.0
حساب (مع أقواس): 5075.0
مكافأة مركبة: 1250.0

## 17) التحكم في تدفق البرنامج Flow Control: if بسيطة

مثال على تصنيف الراتب.

In [20]:
salary = 75000
if salary > 70000:
    print("راتب مرتفع")

راتب مرتفع

## 18) قراءة بيانات موظفين من CSV وتقييم موظف واحد (pandas)

هذا المثال يعتمد على ملف CSV. سننشئ إطار بيانات تجريبي يحاكي الأعمدة المذكورة (Graduation marks, Exp (Months), Previous CTC) لتشغيل المنطق.

In [21]:
data = pd.read_csv('Case_Study_1 Template_Employee Data.csv', skiprows=2)



data.head()

,S.No.,College,Role,City type,Previous CTC,Previous job changes,Graduation marks,Exp (Months),CTC
0,1,Tier 1,Manager,Non-Metro,55523,3,66,19,71406.576531
1,2,Tier 2,Executive,Metro,57081,1,84,18,68005.870631
2,3,Tier 2,Executive,Metro,60347,2,52,28,76764.020277
3,4,Tier 3,Executive,Metro,49010,2,81,33,82092.386880
4,5,Tier 3,Executive,Metro,57879,4,74,32,73878.097729

In [22]:
# Select the first employee (row index 0)
first_employee = data.loc[0]

graduation_marks = first_employee["Graduation marks"]
experience_months = first_employee["Exp (Months)"]
previous_ctc = first_employee["Previous CTC"]

if graduation_marks >= 75:
    print("مرشح ممتاز من ناحية الدرجات الأكاديمية")

if experience_months >= 24:
    print("لديه خبرة جيدة")

if previous_ctc >= 60000:
    print("راتبه السابق مرتفع")

## 19) if-else: تأثير نوع المدينة على الراتب المقترح

مثال على تعديل الراتب وفق Metro / Non-Metro.

In [23]:
city_type = "Non-Metro"
base_salary = 65000

if city_type == "Metro":
    adjusted_salary = base_salary * 1.15  # زيادة 15% للمدن الكبرى
    print(f"الراتب المعدل للمدينة الكبرى: {adjusted_salary}")
else:
    adjusted_salary = base_salary
    print(f"الراتب الأساسي للمدن الأخرى: {adjusted_salary}")

الراتب الأساسي للمدن الأخرى: 65000

## 20) if-elif-else: تصنيف المرشح حسب Tier الكلية

سلسلة شروط متعددة مع مخرجات التصنيف ونسبة المكافأة.

In [24]:
college_tier = "Tier 2"
bonus_percentage = 0

if college_tier == "Tier 1":
    bonus_percentage = 15
    classification = "مرشح من الدرجة الأولى"
elif college_tier == "Tier 2":
    bonus_percentage = 10
    classification = "مرشح من الدرجة الثانية"
elif college_tier == "Tier 3":
    bonus_percentage = 5
    classification = "مرشح من الدرجة الثالثة"
else:
    bonus_percentage = 0
    classification = "مرشح غير مصنف"

print(f"التصنيف: {classification}")
print(f"نسبة المكافأة: {bonus_percentage}%")

التصنيف: مرشح من الدرجة الثانية
نسبة المكافأة: 10%

## 21) الحلقات Loops: for لحساب إجمالي الرواتب

تمر الحلقة على قائمة رواتب وتجمعها.

In [25]:
salaries = [5000, 7000, 6000, 5500, 8000]
total_salary = 0

for salary in salaries:
    total_salary += salary

print("إجمالي الرواتب:", total_salary)

إجمالي الرواتب: 31500

## 22) الحلقات Loops: while لمتابعة طلبات التوظيف حتى رقم محدد

مثال يعتمد على شرط الاستمرار.

In [26]:
applications_received = 0
required_applications = 5

while applications_received < required_applications:
    applications_received += 1
    print(f"تم استلام الطلب رقم {applications_received}")

print("تم الوصول للعدد المطلوب من الطلبات.")

تم استلام الطلب رقم 1
تم استلام الطلب رقم 2
تم استلام الطلب رقم 3
تم استلام الطلب رقم 4
تم استلام الطلب رقم 5
تم الوصول للعدد المطلوب من الطلبات.

## 23) for مع range لإرسال رسائل لعدد محدد من الموظفين

توليد أرقام متتابعة بوضوح.

In [27]:
num_employees = 4
for i in range(1, num_employees + 1):
    print(f"تم إرسال رسالة التقييم السنوي للموظف رقم {i}")

تم إرسال رسالة التقييم السنوي للموظف رقم 1
تم إرسال رسالة التقييم السنوي للموظف رقم 2
تم إرسال رسالة التقييم السنوي للموظف رقم 3
تم إرسال رسالة التقييم السنوي للموظف رقم 4

## 24) for مع break: التوقف عند أول تقييم ممتاز

البحث عن أول قيمة تحقق الشرط ثم الخروج من الحلقة.

In [28]:
performance_scores = [3.1, 4.0, 4.6, 4.2, 4.8]

for score in performance_scores:
    if score >= 4.5:
        print("تم العثور على تقييم ممتاز:", score)
        break

تم العثور على تقييم ممتاز: 4.6

## 25) for مع continue: تجاهل الموظفين الموقوفين عن العمل

تخطي هذا التكرار والانتقال للتالي.

In [29]:
employee_statuses = ["active", "active", "suspended", "active", "suspended"]

for index, status in enumerate(employee_statuses, start=1):
    if status == "suspended":
        print(f"الموظف رقم {index} موقوف عن العمل - لا يتم احتساب راتبه")
        continue
    print(f"تم احتساب راتب الموظف رقم {index}")

تم احتساب راتب الموظف رقم 1
تم احتساب راتب الموظف رقم 2
الموظف رقم 3 موقوف عن العمل - لا يتم احتساب راتبه
تم احتساب راتب الموظف رقم 4
الموظف رقم 5 موقوف عن العمل - لا يتم احتساب راتبه

## 26) مثال تطبيقي موسّع: المرور على صفوف DataFrame (iterrows)

ورد في الفصل استخدام iterrows للمرور على بيانات المرشحين داخل ملف CSV. هنا نقدم قالباً عملياً قابلاً للتشغيل، مع تعليق سطر القراءة الأصلي وإتاحة بيانات تجريبية.

In [30]:
# السطر الأصلي (فعّله عند توفر الملف):
# data = pd.read_csv('Case_Study_1 Template_Employee Data.csv', skiprows=2)

# بديل تجريبي يحاكي الأعمدة المشار إليها في الشرح
data = pd.DataFrame({
    "College Tier": ["Tier 1", "Tier 2", "Tier 3"],
    "Role": ["Executive", "Associate", "Executive"],
    "City Type": ["Metro", "Non-Metro", "Metro"],
    "Previous CTC": [80000, 55000, 65000],
    "Graduation marks": [85, 66, 78],
    "Exp (Months)": [18, 30, 15],
})

for index, row in data.iterrows():
    print(f"--- Employee {index+1} ---")
    college_tier = row["College Tier"]
    role = row["Role"]
    city_type = row["City Type"]
    previous_ctc = row["Previous CTC"]
    graduation_marks = row["Graduation marks"]
    experience_months = row["Exp (Months)"]

    # منطق عرضي يجمع بين مفاهيم الفصل (يمكن تعديله وفق الدراسة)
    if graduation_marks >= 80 and experience_months >= 15 and role == "Executive":
        salary_offer = 75000
    else:
        salary_offer = 60000

    print("العرض المقترح:", salary_offer)

--- Employee 1 ---
العرض المقترح: 75000
--- Employee 2 ---
العرض المقترح: 60000
--- Employee 3 ---
العرض المقترح: 60000